.socials-banner {
  width: 80%;
  max-width: 96rem;
  margin-inline: auto;
  position: relative;
  height: var(--spacing-md);
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

.socials-banner__item {
  border-radius: 6px;
  width: 2rem;
  position: absolute;
  left: max(calc(2rem * 3), 100%);
  animation: scrollLeft;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @media (min-width(42rem)) {
    animation-duration: 12s;
  }
}

.linkedin {
  animation-delay: calc(12s / 4 * (4 - 1) * -1);
}

.github {
  animation-delay: calc(12s / 4 * (4 - 2) * -1);
}

.imdb {
  animation-delay: calc(12s / 4 * (4 - 3) * -1);
}
