.grid-details {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 80%;
  margin: 0 auto;
}

.project-details {
  max-width: 90%;
  margin: 0 auto;

  @media (min-width: 42rem) {
    max-width: 80%;
  }
}

.grid-details__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-details__image-wrapper {
  margin: 0 auto 2rem;

  &.vfx {
    max-width: 30rem;
  }
}

.project-details-title {
  margin-bottom: 1rem;
}

.project-details-info {
  margin-bottom: 1rem;
}

.grid-details__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(350px, 1fr));
  grid-template-rows: auto auto auto;
  padding: 1rem;
}

.grid-details__item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/4;
  padding: 1rem;
}
