.grid-wrapper {
  padding: var(--spacing-xxl) 0;
}
.grid {
  padding-top: var(--spacing-xl);
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-auto-rows: auto auto;
}

.grid--projects {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  max-width: 90%;
  margin: 0 auto var(--spacing-xl);

  @media (min-width: 42rem) {
    max-width: 80%;
  }
}

.grid__item {
  display: grid;
  grid-template-rows: subgrid;
  position: relative;
  padding: 1rem;
}

.grid__item * {
  color: white;
}

.grid__item--span {
  grid-row: span 2;
}

.grid__item:has(span) {
  justify-self: center;
  display: inline-block;
  background-color: var(--secondary-faded);
  transform: translateY(1.7rem);
  width: 1px;
  height: 1px;
  border-radius: 50%;
  outline: 1px dashed var(--light);
  outline-offset: 5px;
}

.grid__icon {
  width: 25px;
}

.grid__item--projects {
  display: grid;
  padding: 1rem;
  grid-column: span 1;
  max-width: 100%;
  width: 26rem;
  grid-auto-flow: dense;
}

.grid__media {
  width: 100%;
  display: block;
  object-fit: cover;
}

.media__image {
  min-height: 33rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid__item-description {
  height: 100%;
  position: relative;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
}

.description__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.description__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid__item:hover .grid__item-description {
  opacity: 1;
}

.grid__icon {
  fill: white;
}
