@import url("./partials/reset.css");
@import url("./partials/root.css");
@import url("./components/skip.css");
@import url("./components/darkmode-togle.css");
@import url("./background.css");
@import url("./partials/container-80.css");
@import url("./partials/navbar.css");
@import url("./partials/navbar-filter.css");
@import url("./title.css");
@import url("./socials.css");
@import url("./image-card.css");
@import url("./about.css");
@import url("./card.css");
@import url("./components/contact.css");
@import url("./partials/footer.css");
@import url("./components/form.css");
@import url("./components/adress.css");
@import url("./components/banner.css");
@import url("./components/button.css");
@import url("./grid.css");
@import url("./grid-details.css");
@import url("./components/modal.css");
@import url("./components/toast.css");
@import url("./animations/scroll-left.css");
@import url("./animations/fade-in.css");

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
  transition: background-color 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
small {
  text-decoration: none;
  color: var(--light);
}

h1,
h2 {
  font-variation-settings: "wght" 500;
}
